@model BackTrack.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper" style="background-color:white">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-users"></i>Initial Setup</a></li>
            <li class="active">Category</li>
        </ol>
    </section>
    <br />
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <h4>Details of <b><i>( @Html.DisplayFor(model => model.Name) )</i></b></h4>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default btn-sm" })
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { onclick = "return confirm('Are sure wants to delete (" + Model.Name + ") ?');", @class = "btn btn-xs btn-danger", })
                </p>
            </div>
            <div class="col-md-6">
                <div class="breadcrumb-elements" style="float: right">
                    <div class="heading-btn-group">
                        <a href="../../Category/Index" class="btn btn-link btn-float has-text">
                            <i class="glyphicon glyphicon-list"></i><br/><span>All Category</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr/>

        <div>
            <dl class="dl-horizontal">
                <dt>
                    Parent Category
                </dt>

                <dd>
                    @if (Model.ParentCategory == null)
                    {
                        @Html.Raw("NA")
                    }
                    else
                    {
                        <a class="btn btn-sm btn-default" style="background: brown; color: white" href="../../Category/Details/@Model.ParentCategory.Id">
                            @Html.DisplayFor(model => model.ParentCategory.Name)
                        </a>
                    }
                </dd>
                <br/>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @(Model.Description == null ? Html.Raw("Empty") : Html.DisplayFor(model => model.Description))
                </dd>
                <br/>
                <dt>
                    Total SubCategory
                </dt>

                <dd>
                    @if (Model.Categories.Count > 0)
                    {
                        @Html.Raw(@Model.Categories.Count)
                    }
                    else
                    {
                        @Html.Raw("0")
                    }

                </dd>
                <br/>
                @if (Model.Categories.Count > 0)
                {
                    <dt>
                        SubCategory List
                    </dt>

                    <dd>
                        @foreach (var m in Model.Categories)
                        {
                            <a class="btn btn-xs btn-default" href="../../Category/Details/@m.Id" style="background: gray; color: white">
                                @m.Name
                                <span style="color: black"> &nbsp; ( @m.Categories.Count )</span>
                            </a>
                        }
                    </dd>
                }
            </dl>
        </div>
    </section>
</div>
