@using BackTrack.Models;
@model LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CustomDesign/Login.css" rel="stylesheet" />
</head>
<body>
    <br /><br /><br /><br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="login-block">
            <h1>Login</h1>
            <div class="col">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", id = "username" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", id = "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            @if (@ViewBag.error != null && @ViewBag.error != "")
            {
                <div class="alert alert-danger">@ViewBag.error</div>
            }

            <button type="submit">Submit</button>
        </div>
    }

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>